<h1> Corey Bedell </h1>

<p>
What's up guys! Welcome to my website that's all about me B)
</p>

<p>
Click here to see how I did this: <%= link_to 'https://www.youtube.com/watch?v=6ILin809dcE&list=PL0s90BggiDzyveaaQjXBYOAkLpTxk_pTo&index=4&t=0s',
'https://www.youtube.com/watch?v=6ILin809dcE&list=PL0s90BggiDzyveaaQjXBYOAkLpTxk_pTo&index=4&t=0s'%>
</p>

<%= image_tag ("picture_ofme.jpg") %>


<p>
<%= link_to 'Home', home_path%>
</p>